/* Utility classes specific for layout */
.text-center {
  text-align: center;
}

/* Common Section */
.section-header {
  margin-bottom: 4rem;
}

.section-title {
  font-size: 2.5rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.section-title.text-black {
  color: var(--text-heading);
}

.section-subtitle {
  font-size: 1.1rem;
  color: var(--text-muted);
}
